body {
    display: inline-block;
    width: 200;
    background-color: white;
}
  
  img {
    width: 100%;
    height: 100%;
  }

  button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }

  h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 16px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }


  .footer {
    position: sticky;
    height: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    text-decoration: underline;
    font-size: 12px;
    color: black;
    text-align: right;
    text-align-last: right;
  }

  .box {
    width: 110%;
    height: 110px;
    border: 4px solid powderblue;
}

.help {
   margin-right: 8px;
   cursor: pointer;
}

